In [1]:
import yfinance as yf
import numpy as np
import pandas as pd
import mplfinance as mpf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from stockstats import wrap

In [3]:
df = pd.read_csv('westport.csv')
df_1 = df.drop(['Year', 'Month', 'Adj Close', 'Open'], axis = 1)

In [4]:
df_1 = df_1[['Date' ,'Close' ,'High' , 'Low' , 'Volume']]
df_2 = wrap(df_1)

In [5]:
df_1.head()

            close  high   low     volume
date
2013-10-14   2.65  2.71  2.56  202614300
2013-10-21   2.53  2.70  2.51  129542400
2013-10-28   2.55  2.58  2.51   34529500
2013-11-04   2.55  2.57  2.54   16965300
2013-11-11   2.55  2.59  2.54   20987100

__Most Momentum Based indicator take a standard 14 days daily traceback hence we take 2/3 weeks period for traceback__

In [6]:
df_1['Sto_RSI_2'] = df_2['stochrsi_2']
df_1['ROC 1'] = df_2['close_2_roc']
df_1['RSI_2'] = df_2['rsi_2']
df_1['William %R'] = df_2['wr_2']
df_1['kdj_k'] = df_2['kdjk_2']
df_1['kdj_d'] = df_2['kdjd_2']
df_1['VW MA'] = df_2['vwma_2']
df_2['boll_2']
df_1['ub boll'] = df_2['boll_ub_2']
df_1['lb boll'] = df_2['boll_lb_2']

In [7]:
df_1['SMA_26'] = df_2['close_26_sma']
df_1['SMA_40'] = df_2['close_40_sma']
df_1['EMA_26'] = df_2['close_26_ema']
df_1['EMA_40'] = df_2['close_40_ema']

In [8]:
df_1['CMA_26'] = df_1['close'].expanding(min_periods=26).mean()
df_1['CMA_40'] = df_1['close'].expanding(min_periods=40).mean()

In [9]:
#set_dft_window('macd', (short, long, signal))
#df_1['MacD'] = df_2['macd']
#just tune directly using the ema

In [10]:
df_1

,close,high,low,volume,Sto_RSI_2,ROC 1,RSI_2,William %R,kdj_k,kdj_d,VW MA,ub boll,lb boll,SMA_26,SMA_40,EMA_26,EMA_40,CMA_26,CMA_40
date,,,,,,,,,,,,,,,,,,,
2013-10-14,2.65,2.71,2.56,202614300,NaN,0.000000,NaN,-39.999936,53.333355,51.111118,2.640000,NaN,NaN,2.650000,2.650000,2.650000,2.650000,NaN,NaN
2013-10-21,2.53,2.70,2.51,129542400,NaN,0.000000,0.000000,-90.000012,38.888899,47.037045,2.616600,2.759706,2.420294,2.590000,2.590000,2.587692,2.588500,NaN,NaN
2013-10-28,2.55,2.58,2.51,34529500,100.0,-3.773590,24.999963,-78.947395,32.943468,42.339186,2.572985,2.568284,2.511716,2.576667,2.576667,2.574150,2.575020,NaN,NaN
2013-11-04,2.55,2.57,2.54,16965300,NaN,0.790513,24.999963,-42.857143,41.009931,41.896101,2.548863,2.550000,2.550000,2.570000,2.570000,2.567399,2.568288,NaN,NaN
2013-11-11,2.55,2.59,2.54,20987100,NaN,0.000000,24.999963,-80.000000,34.006621,39.266274,2.557020,2.550000,2.550000,2.566000,2.566000,2.563364,2.564256,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-18,4.40,4.50,4.36,15010100,0.0,2.325579,74.400187,-58.823447,59.927076,57.962823,4.418664,4.457426,4.372574,4.291539,4.149500,4.219862,4.139395,3.782345,3.782345
2024-11-25,4.28,4.46,4.24,10854600,0.0,-3.385996,25.915258,-84.615229,45.079641,53.668429,4.380831,4.509706,4.170295,4.300385,4.162750,4.224317,4.146254,3.783201,3.783201
2024-12-02,4.42,4.44,4.23,16697700,100.0,0.454545,70.608068,-17.391286,57.589332,54.975397,4.348888,4.547990,4.152010,4.306923,4.179500,4.238812,4.159607,3.784296,3.784296
2024-12-09,4.39,4.50,4.31,13302100,0.0,2.570085,56.102950,-40.740793,58.145957,56.032250,4.379592,4.447427,4.362573,4.318077,4.193500,4.250011,4.170846,3.785334,3.785334
2024-12-16,4.41,4.60,4.40,4069600,100.0,-0.226250,65.541386,-65.517270,50.258215,54.107572,4.416399,4.428284,4.371716,4.326539,4.205000,4.261862,4.182512,3.786404,3.786404

In [11]:
df_1.to_csv('westport feat.csv')

In [12]:
# 20 years worth of data #